@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: TT Lakes;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  color: #1b1c21;
  text-decoration: none;
}
li {
  list-style-type: none;
}

.header {
  height: 88px;
  border-bottom: 1px solid #d9fff5;
}

.header__container {
  padding: 19px 16px;
}

.header__inner,
.header__left,
.header__right,
.header__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link + .header__link {
  margin-left: 16px;
}

.header__divider {
  margin: 0 20px;
  width: 2px;
  height: 32px;
  background: #eaeaea;
  border-radius: 1px;
}

.header__divider-logo,
.header__after768 {
  display: none;
}

.main {
  background: #f8f8f8;
  padding: 24px 16px;
  height: auto;
}
.head {
  margin-bottom: 24px;
  min-width: 288px;
}
.head__h1 {
  font-weight: bold;
  color: black;
  margin: 0;
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}
.head__h1::before {
  content: "";
  display: block;
  height: 40px;
  width: 4px;
  left: 0px;
  top: 112px;
  border-radius: 2px;
  position: absolute;
  background: #41f6d7;
}
.menu {
  max-width: 100%;
  overflow: scroll;
  scrollbar-width: none;
}
.menu::-webkit-scrollbar {
  display: none;
}

.menu__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.menu__item {
  margin-right: 15px;
  white-space: nowrap;
  padding: 8px 9px 8px 16px;
  font-weight: normal;
  font-size: 16px;
}

.menu__link {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
}

.menu__item--active--active {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.content {
  display: flex;
  flex-direction: column;
}

.content__descr {
  margin-bottom: 16px;
}
.content__text {
  white-space: wrap;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  margin-bottom: 16px;

  font-size: 14px;
  font-weight: 400;
}
.content__btn {
  display: flex;
  align-items: center;
}
.content__read-more {
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  font-weight: 500;
  width: 100px;
}
.content__col2 {
  margin-left: -16px;
}
.content__after768,
.content__after1120 {
  display: none;
}

.head__after1120 {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
}

.head__after1120-col {
  display: flex;
  align-items: center;
}

.head__after1120-col + .head__after1120-col {
  margin-left: 32px;
}

.head__after1120-img {
  margin-left: 8px;
}

@media screen and (min-width: 767.98px) {
  .content {
    flex-direction: row;
  }
  .head {
    margin-bottom: 32px;
  }

  .content__col2 {
    margin-left: 48px;
  }
  .content__photo {
    border-radius: 6px;
    height: 208px;
    width: 360px;
  }
  .content__text {
    line-height: 20px;
    margin-bottom: 10px;
    max-height: 160px;
  }
  .content__descr {
    margin-bottom: 0px;
  }
  .header__divider-logo {
    display: inline-block;
    margin-left: 4px;
  }
  .header__after768 {
    display: flex;
  }
  .header__divider-logo + .header__link {
    margin-left: 0;
  }
  .main {
    padding: 24px 24px;
  }
  .content__after768 {
    display: inline;
  }
}
@media screen and (min-width: 1119.98px) {
  .header {
    display: none;
  }
  .main {
    padding: 42px 25px 0px 32px;
  }
  .content__col2 {
    margin-left: 36px;
  }

  .head {
    margin-bottom: 16px;
    position: relative;
  }
  .menu__list {
    max-width: 1060px;
    flex-wrap: wrap;
  }
  .content {
    justify-content: space-between;
  }
  .content__text {
    margin-bottom: 14px;
  }
  .content__photo {
    height: 307px;
    width: 531px;
  }
  .head__h1::before {
    left: -32px;
    top: 0;
    width: 3px;
  }

  .content__after1120 {
    display: inline;
  }

  .head__after1120 {
    display: flex;
  }
}
